.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.opendb

# ---- CMake ----
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake

[Bb]uild/
[Bb]in/
[Oo]ut/
x64/
x86/
Debug*/
Release*/
RelWithDebInfo*/
MinSizeRel*/

*.obj
*.o
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.pdb
*.ipdb
*.idb
*.ilk
*.exp
*.iobj

*.log
*.tlog
*.tmp
*.cachefile
*.swp

.DS_Store
Thumbs.db
desktop.ini
